In [1]:
import pandas as pd
import os
from functools import reduce

In [43]:
files = os.listdir("/Users/daraeremina/Downloads/names")
path_names = []
for file in files:
    path_name = os.path.join("/Users/daraeremina/Downloads/names", file)
    if path_name.endswith(".txt"):
        path_names.append(path_name)

['/Users/daraeremina/Downloads/names/yob2000.txt',
 '/Users/daraeremina/Downloads/names/yob2014.txt',
 '/Users/daraeremina/Downloads/names/yob1938.txt',
 '/Users/daraeremina/Downloads/names/yob1910.txt',
 '/Users/daraeremina/Downloads/names/yob1904.txt',
 '/Users/daraeremina/Downloads/names/yob1905.txt',
 '/Users/daraeremina/Downloads/names/yob1911.txt',
 '/Users/daraeremina/Downloads/names/yob1939.txt',
 '/Users/daraeremina/Downloads/names/yob2015.txt',
 '/Users/daraeremina/Downloads/names/yob2001.txt',
 '/Users/daraeremina/Downloads/names/yob2003.txt',
 '/Users/daraeremina/Downloads/names/yob1907.txt',
 '/Users/daraeremina/Downloads/names/yob1913.txt',
 '/Users/daraeremina/Downloads/names/yob1898.txt',
 '/Users/daraeremina/Downloads/names/yob1899.txt',
 '/Users/daraeremina/Downloads/names/yob1912.txt',
 '/Users/daraeremina/Downloads/names/yob1906.txt',
 '/Users/daraeremina/Downloads/names/yob2002.txt',
 '/Users/daraeremina/Downloads/names/yob2016.txt',
 '/Users/daraeremina/Downloads/names/yob2012.txt',
 '/Users/daraeremina/Downloads/names/yob2006.txt',
 '/Users/daraeremina/Downloads/names/yob1902.txt',
 '/Users/daraeremina/Downloads/names/yob1916.txt',
 '/Users/daraeremina/Downloads/names/yob1889.txt',
 '/Users/daraeremina/Downloads/names/yob1888.txt',
 '/Users/daraeremina/Downloads/names/yob1917.txt',
 '/Users/daraeremina/Downloads/names/yob1903.txt',
 '/Users/daraeremina/Downloads/names/yob2007.txt',
 '/Users/daraeremina/Downloads/names/yob2013.txt',
 '/Users/daraeremina/Downloads/names/yob2005.txt',
 '/Users/daraeremina/Downloads/names/yob2011.txt',
 '/Users/daraeremina/Downloads/names/yob1915.txt',
 '/Users/daraeremina/Downloads/names/yob1901.txt',
 '/Users/daraeremina/Downloads/names/yob1929.txt',
 '/Users/daraeremina/Downloads/names/yob1928.txt',
 '/Users/daraeremina/Downloads/names/yob1900.txt',
 '/Users/daraeremina/Downloads/names/yob1914.txt',
 '/Users/daraeremina/Downloads/names/yob2010.txt',
 '/Users/daraeremina/Downloads/names/yob2004.txt',
 '/Users/daraeremina/Downloads/names/yob1973.txt',
 '/Users/daraeremina/Downloads/names/yob1967.txt',
 '/Users/daraeremina/Downloads/names/yob1998.txt',
 '/Users/daraeremina/Downloads/names/yob1999.txt',
 '/Users/daraeremina/Downloads/names/yob1966.txt',
 '/Users/daraeremina/Downloads/names/yob1972.txt',
 '/Users/daraeremina/Downloads/names/yob1958.txt',
 '/Users/daraeremina/Downloads/names/yob1964.txt',
 '/Users/daraeremina/Downloads/names/yob1970.txt',
 '/Users/daraeremina/Downloads/names/yob1971.txt',
 '/Users/daraeremina/Downloads/names/yob1965.txt',
 '/Users/daraeremina/Downloads/names/yob1959.txt',
 '/Users/daraeremina/Downloads/names/yob1961.txt',
 '/Users/daraeremina/Downloads/names/yob1975.txt',
 '/Users/daraeremina/Downloads/names/yob1949.txt',
 '/Users/daraeremina/Downloads/names/yob1948.txt',
 '/Users/daraeremina/Downloads/names/yob1974.txt',
 '/Users/daraeremina/Downloads/names/yob1960.txt',
 '/Users/daraeremina/Downloads/names/yob1976.txt',
 '/Users/daraeremina/Downloads/names/yob1962.txt',
 '/Users/daraeremina/Downloads/names/yob1989.txt',
 '/Users/daraeremina/Downloads/names/yob1988.txt',
 '/Users/daraeremina/Downloads/names/yob1963.txt',
 '/Users/daraeremina/Downloads/names/yob1977.txt',
 '/Users/daraeremina/Downloads/names/yob1952.txt',
 '/Users/daraeremina/Downloads/names/yob1946.txt',
 '/Users/daraeremina/Downloads/names/yob1991.txt',
 '/Users/daraeremina/Downloads/names/yob1985.txt',
 '/Users/daraeremina/Downloads/names/yob1984.txt',
 '/Users/daraeremina/Downloads/names/yob1990.txt',
 '/Users/daraeremina/Downloads/names/yob1947.txt',
 '/Users/daraeremina/Downloads/names/yob1953.txt',
 '/Users/daraeremina/Downloads/names/yob1979.txt',
 '/Users/daraeremina/Downloads/names/yob1945.txt',
 '/Users/daraeremina/Downloads/names/yob1951.txt',
 '/Users/daraeremina/Downloads/names/yob1986.txt',
 '/Users/daraeremina/Downloads/names/yob1992.txt',
 '/Users/daraeremina/Downloads/names/yob1993.txt',
 '/Users/daraeremina/Downloads/names/yob1987.txt',
 '/Users/daraeremina/Downloads/names/yob1950.txt',
 '/Users/daraeremina/Downloads/names/yob1944.txt',
 '/Users/daraeremina/Downloads/names/yob1978.txt',
 '/Users/daraeremina/Downloads/names/yob1940.txt',
 '/Users/daraeremina/Downloads/names/yob1954.txt',
 '/Users/daraeremina/Downloads/names/yob1968.txt',
 '/Users/daraeremina/Downloads/names/yob1983.txt',
 '/Users/daraeremina/Downloads/names/yob1997.txt',
 '/Users/daraeremina/Downloads/names/yob1996.txt',
 '/Users/daraeremina/Downloads/names/yob1982.txt',
 '/Users/daraeremina/Downloads/names/yob1969.txt',
 '/Users/daraeremina/Downloads/names/yob1955.txt',
 '/Users/daraeremina/Downloads/names/yob1941.txt',
 '/Users/daraeremina/Downloads/names/yob1957.txt',
 '/Users/daraeremina/Downloads/names/yob1943.txt',
 '/Users/daraeremina/Downloads/names/yob1994.txt',
 '/Users/daraeremina/Downloads/names/yob1980.txt',
 '/Users/daraeremina/Downloads/names/yob1981.txt',
 '/Users/daraeremina/Downloads/names/yob1995.txt',
 '/Users/daraeremina/Downloads/names/yob1942.txt',
 '/Users/daraeremina/Downloads/names/yob1956.txt',
 '/Users/daraeremina/Downloads/names/yob2009.txt',
 '/Users/daraeremina/Downloads/names/yob1919.txt',
 '/Users/daraeremina/Downloads/names/yob1931.txt',
 '/Users/daraeremina/Downloads/names/yob1925.txt',
 '/Users/daraeremina/Downloads/names/yob1886.txt',
 '/Users/daraeremina/Downloads/names/yob1892.txt',
 '/Users/daraeremina/Downloads/names/yob1893.txt',
 '/Users/daraeremina/Downloads/names/yob1887.txt',
 '/Users/daraeremina/Downloads/names/yob1924.txt',
 '/Users/daraeremina/Downloads/names/yob1930.txt',
 '/Users/daraeremina/Downloads/names/yob1918.txt',
 '/Users/daraeremina/Downloads/names/yob2008.txt',
 '/Users/daraeremina/Downloads/names/yob1926.txt',
 '/Users/daraeremina/Downloads/names/yob1932.txt',
 '/Users/daraeremina/Downloads/names/yob1891.txt',
 '/Users/daraeremina/Downloads/names/yob1885.txt',
 '/Users/daraeremina/Downloads/names/yob1884.txt',
 '/Users/daraeremina/Downloads/names/yob1890.txt',
 '/Users/daraeremina/Downloads/names/yob1933.txt',
 '/Users/daraeremina/Downloads/names/yob1927.txt',
 '/Users/daraeremina/Downloads/names/yob1923.txt',
 '/Users/daraeremina/Downloads/names/yob1937.txt',
 '/Users/daraeremina/Downloads/names/yob1894.txt',
 '/Users/daraeremina/Downloads/names/yob1880.txt',
 '/Users/daraeremina/Downloads/names/yob1881.txt',
 '/Users/daraeremina/Downloads/names/yob1895.txt',
 '/Users/daraeremina/Downloads/names/yob1936.txt',
 '/Users/daraeremina/Downloads/names/yob1922.txt',
 '/Users/daraeremina/Downloads/names/yob1934.txt',
 '/Users/daraeremina/Downloads/names/yob1920.txt',
 '/Users/daraeremina/Downloads/names/yob1908.txt',
 '/Users/daraeremina/Downloads/names/yob1883.txt',
 '/Users/daraeremina/Downloads/names/yob1897.txt',
 '/Users/daraeremina/Downloads/names/yob1896.txt',
 '/Users/daraeremina/Downloads/names/yob1882.txt',
 '/Users/daraeremina/Downloads/names/yob1909.txt',
 '/Users/daraeremina/Downloads/names/yob1921.txt',
 '/Users/daraeremina/Downloads/names/yob1935.txt']

In [105]:
names_df = []
for path_name in path_names:
    names_df.append(
        pd.read_csv(
            path_name, names=["Name", "Gender", (os.path.basename(path_name)[3:7])]
        )
    )

[            Name Gender   2000
 0          Emily      F  25953
 1         Hannah      F  23078
 2        Madison      F  19967
 3         Ashley      F  17996
 4          Sarah      F  17691
 5         Alexis      F  17628
 6       Samantha      F  17265
 7        Jessica      F  15706
 8      Elizabeth      F  15092
 9         Taylor      F  15077
 10        Lauren      F  14174
 11        Alyssa      F  13553
 12         Kayla      F  13312
 13       Abigail      F  13088
 14       Brianna      F  12878
 15        Olivia      F  12852
 16          Emma      F  12545
 17         Megan      F  11434
 18         Grace      F  11283
 19      Victoria      F  10923
 20        Rachel      F  10670
 21          Anna      F  10584
 22        Sydney      F  10242
 23       Destiny      F   9848
 24        Morgan      F   9502
 25      Jennifer      F   9384
 26       Jasmine      F   9094
 27         Haley      F   9069
 28         Julia      F   8765
 29       Kaitlyn      F   8759
 ...          ...    ...    ...
 29734      Youki      M      5
 29735       Yuan      M      5
 29736       Yuji      M      5
 29737    Zabrien      M      5
 29738     Zaccai      M      5
 29739  Zaccheaus      M      5
 29740  Zackeriah      M      5
 29741   Zackorie      M      5
 29742      Zaeem      M      5
 29743     Zaiden      M      5
 29744       Zaim      M      5
 29745     Zakeem      M      5
 29746      Zakia      M      5
 29747     Zakiah      M      5
 29748     Zamari      M      5
 29749     Zamier      M      5
 29750      Zamon      M      5
 29751     Zanden      M      5
 29752      Zarak      M      5
 29753    Zayveon      M      5
 29754       Zeev      M      5
 29755     Zefram      M      5
 29756     Zekiel      M      5
 29757      Zelig      M      5
 29758      Zemar      M      5
 29759       Zeph      M      5
 29760      Zeven      M      5
 29761      Ziggy      M      5
 29762         Zo      M      5
 29763      Zyier      M      5

 [29764 rows x 3 columns],             Name Gender   2014
 0           Emma      F  20912
 1         Olivia      F  19784
 2         Sophia      F  18583
 3       Isabella      F  17054
 4            Ava      F  15680
 5            Mia      F  13501
 6          Emily      F  12629
 7        Abigail      F  12067
 8        Madison      F  10303
 9      Charlotte      F  10104
 10        Harper      F   9604
 11         Sofia      F   9584
 12         Avery      F   9557
 13     Elizabeth      F   9552
 14        Amelia      F   8781
 15        Evelyn      F   8737
 16          Ella      F   8539
 17         Chloe      F   8518
 18      Victoria      F   7987
 19         Grace      F   7623
 20        Aubrey      F   7618
 21          Zoey      F   7392
 22       Natalie      F   7094
 23       Addison      F   6978
 24       Lillian      F   6905
 25      Brooklyn      F   6802
 26          Lily      F   6764
 27        Hannah      F   6568
 28         Layla      F   6443
 29      Scarlett      F   5998
 ...          ...    ...    ...
 33176       Zeid      M      5
 33177     Zeidan      M      5
 33178   Zekeriah      M      5
 33179      Zenas      M      5
 33180     Zephen      M      5
 33181     Zerick      M      5
 33182    Zhaiden      M      5
 33183     Zhalen      M      5
 33184    Zhayden      M      5
 33185       Ziar      M      5
 33186     Zichen      M      5
 33187      Ziden      M      5
 33188     Zierre      M      5
 33189      Ziion      M      5
 33190      Zijun      M      5
 33191      Zilas      M      5
 33192      Zirui      M      5
 33193      Zivon      M      5
 33194      Ziyah      M      5
 33195     Ziyang      M      5
 33196    Zmarion      M      5
 33197         Zo      M      5
 33198     Zoraiz      M      5
 33199      Zyeir      M      5
 33200       Zyel      M      5
 33201     Zykeem      M      5
 33202     Zymeer      M      5
 33203    Zymiere      M      5
 33204      Zyran      M      5
 33205      Zyrin      M      5

 [33206 rows x 3 columns],            Name Gender   1938
 0          Mary      F  56213
 1       Barbara      F  39276
 2      Patricia      F  27555
 3         Betty      F  25501
 4       Shirley      F  23769
 5         Carol      F  19423
 6         Nancy      F  18947
 7       Dorothy      F  16349
 8      Margaret      F  15330
 9          Joan      F  14301
 10        Joyce      F  12693
 11       Judith      F  10874
 12        Helen      F  10833
 13       Sandra      F  10806
 14      Carolyn      F  10585
 15        Janet      F   9868
 16    Elizabeth      F   9801
 17      Beverly      F   9770
 18      Marilyn      F   9745
 19        Donna      F   9695
 20         Ruth      F   9301
 21     Virginia      F   9268
 22      Frances      F   8924
 23       Janice      F   8712
 24        Doris      F   8605
 25       Martha      F   8580
 26         Jean      F   7761
 27      Phyllis      F   7645
 28        Alice      F   7488
 29       Sharon      F   7244
 ...         ...    ...    ...
 9000     Verlie      M      5
 9001     Versie      M      5
 9002   Victoria      M      5
 9003    Victory      M      5
 9004   Vincenzo      M      5
 9005     Vinton      M      5
 9006     Virgal      M      5
 9007      Vyron      M      5
 9008     Wallie      M      5
 9009      Wavie      M      5
 9010     Weaver      M      5
 9011     Weslie      M      5
 9012     Whaley      M      5
 9013      Wilda      M      5
 9014     Wildon      M      5
 9015     Wilgus      M      5
 9016     Willey      M      5
 9017    Williom      M      5
 9018     Wilmot      M      5
 9019     Windel      M      5
 9020     Winson      M      5
 9021       Wirt      M      5
 9022   Woodford      M      5
 9023     Yancey      M      5
 9024      Yukio      M      5
 9025       Zach      M      5
 9026     Zannie      M      5
 9027   Zeferino      M      5
 9028    Zelbert      M      5
 9029      Zenon      M      5

 [9030 rows x 3 columns],             Name Gender   1910
 0           Mary      F  22848
 1          Helen      F  10479
 2       Margaret      F   8226
 3        Dorothy      F   7318
 4           Ruth      F   7212
 5           Anna      F   6436
 6      Elizabeth      F   5800
 7        Mildred      F   5692
 8          Marie      F   4790
 9          Alice      F   4671
 10       Frances      F   4448
 11      Florence      F   4282
 12         Ethel      F   4146
 13       Lillian      F   4127
 14        Gladys      F   3842
 15          Rose      F   3837
 16        Evelyn      F   3776
 17          Edna      F   3664
 18         Annie      F   3519
 19        Louise      F   3457
 20         Irene      F   3281
 21     Catherine      F   3161
 22         Grace      F   3145
 23         Hazel      F   3032
 24        Thelma      F   2976
 25      Gertrude      F   2932
 26          Ruby      F   2893
 27        Martha      F   2858
 28      Virginia      F   2854
 29     Josephine      F   2801
 ...          ...    ...    ...
 4599     Stclair      M      5
 4600     Steward      M      5
 4601       Sunny      M      5
 4602       Susie      M      5
 4603         Tee      M      5
 4604     Teodoro      M      5
 4605     Terrell      M      5
 4606     Thelmer      M      5
 4607      Timmie      M      5
 4608       Tyree      M      5
 4609        Ulis      M      5
 4610      Urbano      M      5
 4611   Valentino      M      5
 4612      Vander      M      5
 4613        Vann      M      5
 4614        Vera      M      5
 4615     Vernell      M      5
 4616       Veron      M      5
 4617  Victoriano      M      5
 4618    Vincenzo      M      5
 4619      Vinson      M      5
 4620       Wally      M      5
 4621     Welford      M      5
 4622     Willaim      M      5
 4623       Wille      M      5
 4624     Woodson      M      5
 4625       Woody      M      5
 4626       Wyman      M      5
 4627      Yoshio      M      5
 4628      Zennie      M      5

 [4629 rows x 3 columns],            Name Gender   1904
 0          Mary      F  14961
 1         Helen      F   6488
 2          Anna      F   5330
 3      Margaret      F   5302
 4          Ruth      F   4900
 5     Elizabeth      F   3833
 6         Marie      F   3595
 7      Florence      F   3572
 8       Mildred      F   3525
 9       Dorothy      F   3477
 10        Ethel      F   3296
 11      Lillian      F   3139
 12        Alice      F   3131
 13       Gladys      F   2976
 14         Edna      F   2762
 15      Frances      F   2657
 16        Annie      F   2631
 17         Rose      F   2631
 18        Grace      F   2513
 19       Bertha      F   2363
 20       Bessie      F   2340
 21         Emma      F   2312
 22        Hazel      F   2301
 23        Clara      F   2281
 24     Gertrude      F   2269
 25        Irene      F   2212
 26        Mabel      F   2172
 27       Louise      F   2136
 28       Martha      F   2019
 29        Pearl      F   2015
 ...         ...    ...    ...
 3530    Rexford      M      5
 3531    Reynold      M      5
 3532      Rollo      M      5
 3533       Roma      M      5
 3534   Roosvelt      M      5
 3535    Roswell      M      5
 3536     Rueben      M      5
 3537     Ruffus      M      5
 3538       Rush      M      5
 3539      Sadie      M      5
 3540   Schuyler      M      5
 3541   Shedrick      M      5
 3542  Silvester      M      5
 3543       Slim      M      5
 3544     Stella      M      5
 3545   Sylvanus      M      5
 3546       Thor      M      5
 3547        Tip      M      5
 3548     Tobias      M      5
 3549       Todd      M      5
 3550      Tyler      M      5
 3551        Val      M      5
 3552      Verna      M      5
 3553   Virginia      M      5
 3554    Wendall      M      5
 3555    Willian      M      5
 3556     Woodie      M      5
 3557      Woody      M      5
 3558     Worley      M      5
 3559        Yee      M      5

 [3560 rows x 3 columns],            Name Gender   1905
 0          Mary      F  16067
 1         Helen      F   6811
 2      Margaret      F   5690
 3          Anna      F   5424
 4          Ruth      F   5068
 5     Elizabeth      F   4121
 6       Dorothy      F   3937
 7       Mildred      F   3758
 8         Marie      F   3643
 9         Alice      F   3611
 10     Florence      F   3478
 11        Ethel      F   3401
 12      Lillian      F   3185
 13       Gladys      F   2996
 14         Edna      F   2953
 15      Frances      F   2887
 16        Annie      F   2793
 17         Rose      F   2724
 18        Grace      F   2630
 19       Bessie      F   2446
 20       Bertha      F   2434
 21        Clara      F   2397
 22       Louise      F   2367
 23        Irene      F   2357
 24        Hazel      F   2351
 25         Emma      F   2298
 26     Gertrude      F   2276
 27    Catherine      F   2198
 28        Mabel      F   2178
 29        Edith      F   2137
 ...         ...    ...    ...
 3625    Rowland      M      5
 3626     Rubert      M      5
 3627     Rudolf      M      5
 3628      Rulon      M      5
 3629      Sammy      M      5
 3630      Sarah      M      5
 3631   Seferino      M      5
 3632     Selmer      M      5
 3633    Serapio      M      5
 3634    Shannon      M      5
 3635       Shed      M      5
 3636    Sheldon      M      5
 3637     Shelly      M      5
 3638     Sigurd      M      5
 3639     Silvio      M      5
 3640       Swan      M      5
 3641    Teofilo      M      5
 3642   Thompson      M      5
 3643    Tolbert      M      5
 3644      Urban      M      5
 3645     Violet      M      5
 3646      Waino      M      5
 3647       Webb      M      5
 3648     Weston      M      5
 3649    Whitney      M      5
 3650    Wilburt      M      5
 3651    Wilfrid      M      5
 3652    Willian      M      5
 3653   Winifred      M      5
 3654    Woodson      M      5

 [3655 rows x 3 columns],            Name Gender   1911
 0          Mary      F  24390
 1         Helen      F  11801
 2      Margaret      F   9279
 3       Dorothy      F   8869
 4          Ruth      F   8003
 5          Anna      F   6753
 6     Elizabeth      F   6298
 7       Mildred      F   6271
 8         Marie      F   5017
 9       Frances      F   4967
 10        Alice      F   4813
 11     Florence      F   4424
 12      Lillian      F   4367
 13         Rose      F   4151
 14        Ethel      F   4141
 15       Evelyn      F   4075
 16         Edna      F   3957
 17       Gladys      F   3933
 18       Louise      F   3725
 19    Catherine      F   3565
 20        Irene      F   3502
 21         Ruby      F   3372
 22        Grace      F   3304
 23        Annie      F   3298
 24        Hazel      F   3290
 25     Virginia      F   3263
 26       Thelma      F   3166
 27       Martha      F   3019
 28    Josephine      F   3011
 29     Gertrude      F   2895
 ...         ...    ...    ...
 4837   Terrance      M      5
 4838        Tex      M      5
 4839    Theresa      M      5
 4840    Thurlow      M      5
 4841     Tilden      M      5
 4842     Tobbie      M      5
 4843     Tobias      M      5
 4844      Tyrus      M      5
 4845      Ulmer      M      5
 4846    Umberto      M      5
 4847        Val      M      5
 4848    Valmore      M      5
 4849     Vander      M      5
 4850    Vernard      M      5
 4851    Vernice      M      5
 4852       Veto      M      5
 4853      Viola      M      5
 4854     Vonnie      M      5
 4855     Waylon      M      5
 4856     Wendel      M      5
 4857    Wilburt      M      5
 4858      Wilho      M      5
 4859    Willaim      M      5
 4860   Williard      M      5
 4861    Woodard      M      5
 4862   Woodford      M      5
 4863      Woody      M      5
 4864     Yoshio      M      5
 4865      Zenas      M      5
 4866      Zenon      M      5

 [4867 rows x 3 columns],             Name Gender   1939
 0           Mary      F  54904
 1        Barbara      F  37258
 2       Patricia      F  29705
 3          Betty      F  23639
 4        Shirley      F  20447
 5          Carol      F  20169
 6          Nancy      F  19725
 7         Judith      F  16626
 8        Dorothy      F  15169
 9       Margaret      F  14951
 10          Joan      F  14140
 11         Joyce      F  13393
 12        Sandra      F  11969
 13       Carolyn      F  11290
 14         Linda      F  10714
 15         Helen      F  10418
 16         Janet      F  10114
 17     Elizabeth      F   9707
 18       Marilyn      F   9539
 19         Donna      F   9370
 20      Virginia      F   9227
 21          Ruth      F   9059
 22        Sharon      F   9013
 23        Janice      F   8779
 24       Beverly      F   8702
 25       Frances      F   8577
 26        Martha      F   8493
 27          Judy      F   8082
 28         Doris      F   7684
 29       Phyllis      F   7591
 ...          ...    ...    ...
 8890       Velma      M      5
 8891      Verdie      M      5
 8892      Verdon      M      5
 8893      Verlie      M      5
 8894       Veron      M      5
 8895  Victoriano      M      5
 8896     Victory      M      5
 8897      Violet      M      5
 8898      Virlyn      M      5
 8899     Visente      M      5
 8900      Waylan      M      5
 8901     Welcome      M      5
 8902  Wenceslaus      M      5
 8903    Wendelin      M      5
 8904      Wendle      M      5
 8905      Wetzel      M      5
 8906     Wharton      M      5
 8907     Whitley      M      5
 8908      Wildon      M      5
 8909    Wilfrido      M      5
 8910      Willes      M      5
 8911     Willson      M      5
 8912      Winnie      M      5
 8913       Wymon      M      5
 8914       Yancy      M      5
 8915      Yoshio      M      5
 8916       Yukio      M      5
 8917   Zachariah      M      5
 8918       Zelma      M      5
 8919       Zenon      M      5

 [8920 rows x 3 columns],             Name Gender   2015
 0           Emma      F  20415
 1         Olivia      F  19638
 2         Sophia      F  17381
 3            Ava      F  16340
 4       Isabella      F  15574
 5            Mia      F  14871
 6        Abigail      F  12371
 7          Emily      F  11766
 8      Charlotte      F  11381
 9         Harper      F  10283
 10       Madison      F  10072
 11        Amelia      F   9838
 12     Elizabeth      F   9703
 13         Sofia      F   9681
 14        Evelyn      F   9352
 15         Avery      F   9330
 16         Chloe      F   7907
 17          Ella      F   7882
 18         Grace      F   7630
 19      Victoria      F   7600
 20        Aubrey      F   7376
 21      Scarlett      F   7121
 22          Zoey      F   6927
 23       Addison      F   6706
 24          Lily      F   6644
 25       Lillian      F   6597
 26       Natalie      F   6490
 27        Hannah      F   6398
 28          Aria      F   6392
 29         Layla      F   6314
 ...          ...    ...    ...
 33033       Zavi      M      5
 33034      Zavon      M      5
 33035        Zay      M      5
 33036     Zaylor      M      5
 33037    Zayquan      M      5
 33038   Zecharia      M      5
 33039   Zecharya      M      5
 33040        Zee      M      5
 33041       Zeev      M      5
 33042       Zeik      M      5
 33043   Zekariah      M      5
 33044    Zepplin      M      5
 33045      Zerek      M      5
 33046       Zeyd      M      5
 33047       Ziel      M      5
 33048      Zihan      M      5
 33049      Zihao      M      5
 33050     Ziheng      M      5
 33051     Zimere      M      5
 33052       Ziyi      M      5
 33053       Ziyu      M      5
 33054       Zoel      M      5
 33055      Zohar      M      5
 33056     Zolton      M      5
 33057       Zyah      M      5
 33058     Zykell      M      5
 33059     Zyking      M      5
 33060      Zykir      M      5
 33061      Zyrus      M      5
 33062       Zyus      M      5

 [33063 rows x 3 columns],             Name Gender   2001
 0          Emily      F  25054
 1        Madison      F  22162
 2         Hannah      F  20709
 3         Ashley      F  16526
 4         Alexis      F  16399
 5          Sarah      F  15894
 6       Samantha      F  15861
 7        Abigail      F  14803
 8      Elizabeth      F  14783
 9         Olivia      F  13976
 10       Jessica      F  13919
 11        Taylor      F  13689
 12          Emma      F  13306
 13        Alyssa      F  13266
 14        Lauren      F  12779
 15         Grace      F  12087
 16         Kayla      F  11890
 17       Brianna      F  11774
 18          Anna      F  10570
 19         Megan      F  10298
 20      Victoria      F  10177
 21       Destiny      F   9747
 22        Sydney      F   9637
 23        Rachel      F   9534
 24       Jasmine      F   8955
 25      Jennifer      F   8922
 26         Julia      F   8837
 27      Isabella      F   8833
 28        Morgan      F   8735
 29         Chloe      F   8176
 ...          ...    ...    ...
 30236   Zacharee      M      5
 30237   Zackarey      M      5
 30238  Zackeriah      M      5
 30239     Zacory      M      5
 30240      Zadan      M      5
 30241     Zaheem      M      5
 30242      Zaide      M      5
 30243       Zaim      M      5
 30244    Zakhary      M      5
 30245     Zamere      M      5
 30246     Zaniel      M      5
 30247      Zarak      M      5
 30248      Zaren      M      5
 30249     Zarren      M      5
 30250      Zavon      M      5
 30251      Zayin      M      5
 30252   Zayshawn      M      5
 30253      Zelig      M      5
 30254        Zia      M      5
 30255        Ziv      M      5
 30256      Ziyan      M      5
 30257       Zoen      M      5
 30258       Zoey      M      5
 30259     Zohair      M      5
 30260     Zorion      M      5
 30261       Zyad      M      5
 30262      Zyere      M      5
 30263      Zykel      M      5
 30264      Zyrek      M      5
 30265    Zyshaun      M      5

 [30266 rows x 3 columns],             Name Gender   2003
 0          Emily      F  25688
 1           Emma      F  22702
 2        Madison      F  20197

In [125]:
all_names_df = reduce(lambda x, y: pd.merge(x, y, on=["Name", "Gender"]), names_df)

In [191]:
def get_top3(*yob):
    """
    :param yob: should be a list of required years in string format
    :return: a list of top3 popular names
    """
    required_yobs_df = all_names_df.filter(["Name", *yob], axis=1)
    required_yobs_df.head(10)
    required_yobs_df["Sum_value"] = required_yobs_df.sum(axis=1)
    top3 = required_yobs_df.sort_values(by="Sum_value", ascending=False)[:3]
    return list(top3["Name"])
get_top3(*["2000", "1964", "1999"])

['Michael', 'John', 'David']